*********    Grouping and Sorting       *********

In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("wine_reviews_sample.csv")
df = pd.DataFrame(data)

In [6]:
df.describe()

           points       price
count  100.000000  100.000000
mean    92.260000   36.751800
std      4.558531   27.637256
min     85.000000   10.150000
25%     88.000000   14.000000
50%     92.500000   15.000000
75%     96.000000   65.000000
max    100.000000   98.020000

In [13]:
conditions = [
    (df['country'] == 'India') | (df['points'] >= 80),       # Priority 3
    (df['points'] >= 60) & (df['points'] < 80),              # Priority 2
    (df['points'] >= 40) & (df['points'] < 60)               # Priority 1
]

choices = [3, 2, 1]

# Apply
df['star_rating'] = np.select(conditions, choices, default=1)

In [15]:
df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,star_rating
0,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,96,15.00,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2010 Avidagos (nan),Portuguese Red,Quinta dos Avidagos,3
1,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,60.87,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2011 Vulkà Bianco (Etna),White Blend,Nicosia,3
2,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.00,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,3
3,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,93,47.11,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,3
4,US,"Tart and snappy, the flavors of lime flesh and...",NaN,88,14.00,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2014 nan (Willamette Valley),Pinot Gris,Rainstorm,3

In [16]:
df.groupby('star_rating').price.min()

star_rating
3    10.15
Name: price, dtype: float64

In [17]:
df.groupby(['country']).price.agg([len, min, max])

/tmp/ipykernel_1302043/2564170833.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby(['country']).price.agg([len, min, max])
/tmp/ipykernel_1302043/2564170833.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby(['country']).price.agg([len, min, max])

          len    min    max
country
Italy      29  10.15  98.02
Portugal   20  15.00  15.00
US         51  13.00  65.00

In [18]:
df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,star_rating
0,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,96,15.00,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2010 Avidagos (nan),Portuguese Red,Quinta dos Avidagos,3
1,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,60.87,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2011 Vulkà Bianco (Etna),White Blend,Nicosia,3
2,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.00,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,3
3,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,93,47.11,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,3
4,US,"Tart and snappy, the flavors of lime flesh and...",NaN,88,14.00,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2014 nan (Willamette Valley),Pinot Gris,Rainstorm,3

In [20]:
##Who are the most common wine reviewers in the dataset? Create a Series whose index is the taster_twitter_handle category from the dataset, and whose values count how many reviews each person wrote.

review_written = df['taster_name'].value_counts()
review_written

taster_name
Paul Gregutt          36
Kerin O’Keefe         29
Roger Voss            20
Alexander Peartree    15
Name: count, dtype: int64

In [21]:
## 2 . What is the best wine I can buy for a given amount of money? 
# Create a Series whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review.
#  Sort the values by price, ascending (so that 4.0 dollars is at the top and 3300.0 dollars is at the bottom).

df['price'].sort_values()

52    10.15
42    10.97
9     13.00
10    13.00
22    13.00
      ...
40    93.67
70    95.16
18    95.38
34    95.52
79    98.02
Name: price, Length: 100, dtype: float64

In [23]:
##What are the minimum and maximum prices for each variety of wine? 
# Create a DataFrame whose index is the variety category from the dataset and whose values are the min and max values thereodf
df.groupby('variety')['price'].agg(['min' , 'max'])

                  min    max
variety
Pinot Gris      14.00  14.00
Pinot Noir      65.00  65.00
Portuguese Red  15.00  15.00
Riesling        13.00  13.00
White Blend     10.15  98.02

In [29]:
##What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question 
# where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

grouped_data = df.groupby('variety')['price'].agg(['min', 'max'])
sorted_data = grouped_data.sort_values(by=['min', 'max'], ascending=[False, False])
print(sorted_data)

                  min    max
variety
Pinot Noir      65.00  65.00
Portuguese Red  15.00  15.00
Pinot Gris      14.00  14.00
Riesling        13.00  13.00
White Blend     10.15  98.02

In [31]:
##Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer.
#  Hint: you will need the `taster_name` and `points` columns.
df.groupby('taster_name')['points'].mean()

taster_name
Alexander Peartree    93.266667
Kerin O’Keefe         91.586207
Paul Gregutt          91.472222
Roger Voss            93.900000
Name: points, dtype: float64

In [34]:
## What combination of countries and varieties are most common?
# Create a Series whose index is a MultiIndexof {country, variety} pairs. 
# For example, a pinot noir produced in the US should map to {"US", "Pinot Noir"}. 
# Sort the values in the Series in descending order based on wine count.

country_count = df.groupby(['country' , 'variety']).size()
sorted_country = country_count.sort_values(ascending=False)
sorted_country

country   variety
Italy     White Blend       29
Portugal  Portuguese Red    20
US        Pinot Noir        20
          Pinot Gris        16
          Riesling          15
dtype: int64